{% extends "basetemp/indexbase.html" %}
{% load static %}
{% block content %}
<style>
	.fieldsize {
		width: 90%;
	}


	.formdiv {
		margin-top: 20px;
	}

	.dbtn {
		width: 150px;
	}
	#scrollPercentage {
	  position: fixed;
	  top: 60px;
	  right: 0;
	  font-size: 16px;
	  color: #000;
	  background-color: #007BFF;
	  padding: 10px;
	  color: white;
	}
</style>
<h3 class="mt-4">{{title}}</h3>
<div class="container-fluid formdiv">

	<form method="post">
		{% csrf_token %}

		<table class="table">
							<tr>
								<td>
									<strong>{{form.office_division_name.label_tag}}</strong>
									{{form.office_division_name}}
									{{form.demographics_section}}
				
								</td>
								<td>
									<strong>{{form.presidential_appointee.label_tag}}</strong>
									{{form.presidential_appointee}}
								</td>
							</tr>
				
							<tr>
								<td>
									<strong>{{form.permanent.label_tag}}</strong>
									{{form.permanent}}
								</td>
				
								<td>
									<strong>{{form.coterminus.label_tag}}</strong>
									{{form.coterminus}}
								</td>
								
							</tr>
				
							<tr>
								<td>
									<strong>{{form.jo_cos.label_tag}}</strong>
									{{form.jo_cos}}
								</td>
								<td>
									<strong>{{form.casual_temporary.label_tag}}</strong>
									{{form.casual_temporary}}
								</td>
							</tr>
							<tr>
								<td>
									<strong>Gender: </strong><br><small>(Define the number of male and female personnel)</small>
								</td>
							</tr>
							<tr>
								<td>
									
									<strong>{{form.male.label_tag}}</strong>
									{{form.male}}
								</td>
				
								<td>
									
									<strong>{{form.female.label_tag}}</strong>
									{{form.female}}
								</td>
							</tr>
							<tr>
								<td>
									<strong>Age Bracket:</strong><br><small>(Define the number of personnel per age bracket)</small>
								</td>
							</tr>
							<tr>
								<td>
									<strong>{{form.age_20_24.label_tag}}</strong>
									{{form.age_20_24}}
								</td>

								<td>
									<strong>{{form.age_25_34.label_tag}}</strong>
									{{form.age_25_34}}
								</td>
							</tr>
				

							<tr>
								<td>
									
									<strong>{{form.age_35_44.label_tag}}</strong>
									{{form.age_35_44}}
								</td>

								<td>
									<strong>{{form.age_45_54.label_tag}}</strong>
									{{form.age_45_54}}
								</td>
							</tr>

							

							<tr>
								<td>
									<strong>{{form.age_55_above.label_tag}}</strong>
									{{form.age_55_above}}
								</td>
							</tr>
						</table>
		<br>
		

		<button type="submit" class="btn btn-primary dbtn">Update</button>
		<a href="/survey/" class="btn btn-danger dbtn">Go back</a>
	</form>	
		<div id="scrollPercentage">Page Scroll: 0%&nbsp;&nbsp;&nbsp;</div>
</div>

<script>
	// Get the container element
	var scrollPercentageElement = document.getElementById("scrollPercentage");

	// Add a scroll event listener to the window
	window.addEventListener("scroll", function() {
	  // Calculate the percentage of the webpage scrolled
	  var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	  var scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
	  var scrolledPercentage = (scrollTop / (scrollHeight - window.innerHeight)) * 100;

	  // Update the content of the container element with the calculated percentage
	  scrollPercentageElement.textContent = "Page Scroll: " + Math.round(scrolledPercentage) + "%";
	});

</script>
{% endblock content %}