{% extends "basetemp/newbase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% for i in check_user %}
	{% if i.privacy_section == 0 %}
	<script>
		window.location.href = "/";
	</script>
	{% endif %}

	{% if i.survey_id != pk %}
	<script>
		window.location.href = "/";
	</script>
	{% endif %}
	{% empty %}
	<script>
		window.location.href = "/";
	</script>
{% endfor %}


  
<style>
	.fieldsize {
		width: 150%;
	}

	.formdiv {
		margin-top: 20px;
	}

	.dbtn {
		width: 150px;
	}

	span {
		color: red;
	}
	table {
		margin-bottom: 20px;
	}

	#scrollPercentage {
	  position: fixed;
	  top: 60px;
	  right: 0;
	  font-size: 16px;
	  color: #000;
	  background-color: #007BFF;
	  padding: 10px;
	  color: white;
	}

	p.descrip {
	  font-weight: normal;
	}
</style>
<h3 class="mt-4">{{title}}</h3>
<div class="container-fluid formdiv">
	<div class="alert alert-danger" id="error-message" style="display: none;">
	  Please select at least one option for the questions containing checkboxes.
	</div>
	<form method="post" onsubmit="return validateForm()">
		{% csrf_token %}
		<div class="form-group">
			<h6>1. <span>*</span>What ICT Trainings have you taken before?</h6>

			{% for checkbox in form.ict_trainings_taken %}
			    <div class="checkbox">
			      {% if checkbox.choice_label == 'Others' %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			          
			        </label>
			        {{form.ict_trainings_taken_others}}
			      {% else %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			          <br>
			          <table class="table">
			          	<tr>
			          		<td>
			          			<p class="descrip">
			          				{% if checkbox.choice_label == 'Basic Computer Skills' %}{{one}}{% endif %}
			          				{% if checkbox.choice_label == 'Digital Literacy & Internet Skills' %}{{two}}{% endif %}
			          				{% if checkbox.choice_label == 'Cybersecurity Awareness and Best Practices' %}{{three}}{% endif %}
			          				{% if checkbox.choice_label == 'Data Analytics and Business Intelligence' %}{{four}}{% endif %}
			          				{% if checkbox.choice_label == 'Data Management and Reporting' %}{{five}}{% endif %}
			          				{% if checkbox.choice_label == 'Cloud Computing' %}{{six}}{% endif %}
			          				{% if checkbox.choice_label == 'Data Privacy and Protection' %}{{seven}}{% endif %}
			          				{% if checkbox.choice_label == 'Information System Planning' %}{{eight}}{% endif %}
			          				{% if checkbox.choice_label == 'Productivity & Collaboration Tools' %}{{nine}}{% endif %}
			          				{% if checkbox.choice_label == 'Geographical Information Systems (GIS)' %}{{ten}}{% endif %}
			          				{% if checkbox.choice_label == 'E-Government and Digital Service Delivery' %}{{eleven}}{% endif %}
			          				{% if checkbox.choice_label == 'Systems Analysis and Design (SAD)' %}{{twelve}}{% endif %}
			          				{% if checkbox.choice_label == 'Project Management' %}{{thirteen}}{% endif %}
			          				{% if checkbox.choice_label == 'Digital Innovation' %}{{fourteen}}{% endif %}
			          				{% if checkbox.choice_label == 'Digital Transformation' %}{{fifteen}}{% endif %}
			          				{% if checkbox.choice_label == 'ICT Governance and Policy Development' %}{{sixteen}}{% endif %}
			          			</p>
			          		</td>
			          	</tr>
			          	
			          </table>
			        </label>
			      {% endif %}
			    </div>
			{% endfor %}
		</div>
		
		<div class="form-group">
			<h6>2. <span>*</span>What ICT Trainings are you interested in?</h6>

			{% for checkbox in form.ict_trainings_interests %}
			    <div class="checkbox">
			      {% if checkbox.choice_label == 'Others' %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			        {{form.ict_trainings_interests_others}}
			      {% else %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			          <br>
			          <table class="table">
			          	<tr>
			          		<td>
			          			<p class="descrip">
			          				{% if checkbox.choice_label == 'Basic Computer Skills' %}{{one}}{% endif %}
			          				{% if checkbox.choice_label == 'Digital Literacy & Internet Skills' %}{{two}}{% endif %}
			          				{% if checkbox.choice_label == 'Cybersecurity Awareness and Best Practices' %}{{three}}{% endif %}
			          				{% if checkbox.choice_label == 'Data Analytics and Business Intelligence' %}{{four}}{% endif %}
			          				{% if checkbox.choice_label == 'Data Management and Reporting' %}{{five}}{% endif %}
			          				{% if checkbox.choice_label == 'Cloud Computing' %}{{six}}{% endif %}
			          				{% if checkbox.choice_label == 'Data Privacy and Protection' %}{{seven}}{% endif %}
			          				{% if checkbox.choice_label == 'Information System Planning' %}{{eight}}{% endif %}
			          				{% if checkbox.choice_label == 'Productivity & Collaboration Tools' %}{{nine}}{% endif %}
			          				{% if checkbox.choice_label == 'Geographical Information Systems (GIS)' %}{{ten}}{% endif %}
			          				{% if checkbox.choice_label == 'E-Government and Digital Service Delivery' %}{{eleven}}{% endif %}
			          				{% if checkbox.choice_label == 'Systems Analysis and Design (SAD)' %}{{twelve}}{% endif %}
			          				{% if checkbox.choice_label == 'Project Management' %}{{thirteen}}{% endif %}
			          				{% if checkbox.choice_label == 'Digital Innovation' %}{{fourteen}}{% endif %}
			          				{% if checkbox.choice_label == 'Digital Transformation' %}{{fifteen}}{% endif %}
			          				{% if checkbox.choice_label == 'ICT Governance and Policy Development' %}{{sixteen}}{% endif %}
			          			</p>
			          		</td>
			          	</tr>
			          	
			          </table>
			        </label>
			      {% endif %}
			    </div>
			{% endfor %}
		</div>

		<div class="container-fluid">
			<h6>3. <span>*</span>Any comments, suggestions, and recommendations on the ICT Trainings provided and to be provided for your division/office:</h6>
			<div class="container-fluid">
				{{form.ict_training_comments}}
			</div>
		</div>
		<br>
		{{form.trainings_section}}
		{% for i in check_user %}

		 {% if i.submitted == 1 %}
		 
		 {% else %}
		 <button type="submit" class="btn btn-primary dbtn">Update</button>
		 {% endif %}
		
		{% endfor %}
		
		<a href="/survey/" class="btn btn-danger dbtn">Back</a>
	</form>	
	<div id="scrollPercentage">Page Scroll: 0%&nbsp;&nbsp;&nbsp;</div>
</div>
<br>
<script>
	// Get the container element
	var scrollPercentageElement = document.getElementById("scrollPercentage");

	// Add a scroll event listener to the window
	window.addEventListener("scroll", function() {
	  // Calculate the percentage of the webpage scrolled
	  var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	  var scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
	  var scrolledPercentage = (scrollTop / (scrollHeight - window.innerHeight)) * 100;

	  // Update the content of the container element with the calculated percentage
	  scrollPercentageElement.textContent = "Page Scroll: " + Math.round(scrolledPercentage) + "%";

	});
</script>

<script>
  function validateForm() {
    var questionContainers = document.querySelectorAll('.form-group');
    for (var i = 0; i < questionContainers.length; i++) {
      var checkboxes = questionContainers[i].querySelectorAll('input[type=checkbox]');
      var checked = false;
      for (var j = 0; j < checkboxes.length; j++) {
        if (checkboxes[j].checked) {
          checked = true;
          break;
        } 
      }
      if (!checked) {
        document.getElementById('error-message').style.display = 'block';
        window.scrollTo(0, 0);
        return false;
      }
    }
    return true;
  }
</script>

<script>
	// Function to enable or disable input field based on checkbox selection
	function handleCheckboxChange() {
		var othersCheckboxTaken = document.querySelector("#id_ict_trainings_taken_{{ict_training_count}}");
		var othersInputTaken = document.querySelector("#id_ict_trainings_taken_others");

		var othersCheckboxInterested = document.querySelector("#id_ict_trainings_interests_{{ict_training_count}}");
		var othersInputInterested = document.querySelector("#id_ict_trainings_interests_others");

		othersInputTaken.disabled = !othersCheckboxTaken.checked;
		othersInputInterested.disabled = !othersCheckboxInterested.checked;

		othersInputTaken.required = othersCheckboxTaken.checked;
		othersInputInterested.required = othersCheckboxInterested.checked;

		othersInputTaken.readOnly = !othersCheckboxTaken.checked;
		othersInputInterested.readOnly = !othersCheckboxInterested.checked;
	}

	// Call the function when the page loads and on checkbox change
	window.addEventListener('load', handleCheckboxChange);
	document.querySelector("#id_ict_trainings_taken_{{ict_training_count}}").addEventListener('change', handleCheckboxChange);
	document.querySelector("#id_ict_trainings_interests_{{ict_training_count}}").addEventListener('change', handleCheckboxChange);

</script>



{% endblock content %}