{% extends "basetemp/newbase.html" %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .text-muted.small a {
        text-decoration: none;
        color: black;
    }
</style>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card mb-5" style="border-radius: 15px;">
        {% for items in check_user %}
          <div class="card-body p-4">
            <h3 class="mb-3">{{items.office_division_name}}</h3>
            <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span>
              <strong>Department of Transportation</strong> | The Columbia Tower, Ortigas Avenue, Mandaluyong City</p>
              
            <div class="col-lg-8 col-md-8 col-xs-8 chrt">
              <canvas id="myChart"></canvas>
            </div>

            <hr class="my-4">
            <div class="d-flex justify-content-start align-items-center">
              <p class="mb-0 text-uppercase"><i class="fa fa-facebook me-2"></i> <span
                  class="text-muted small"><a href="https://www.facebook.com/DOTrPH" target="_blank">FB Page</a></span></p>
              <p class="mb-0 text-uppercase"><i class="fa fa-globe ms-4 me-2"></i> <span
                  class="text-muted small"><a href="https://www.dotr.gov.ph">Official Website</a><span class="ms-3 me-4">|</span></p>
              
                <img src="{% static 'basetemp/dotricon.png' %}" alt="avatar"
                  class="img-fluid rounded-circle me-3" width="35">
            </div>
          </div>
        {% endfor %}
        </div>
 

      </div>
    </div>
  </div>


<script>
 const config = {
  type: 'pie',
  data: {
    datasets: [{
      data: [1, 2, 3, 4, 5, 6],
      backgroundColor: [
      '#007BFF', '#DC3545', '#FFC107', '#343A40', '#28A745', '#6C757D'
      ],
      label: 'Population'
    }],
    labels: ['On-Going', 'Suspended', 'Cancelled', 'Terminated', 'Completed', 'On Request']
  },
  options: {
    responsive: true
  } 
  };

  window.onload = function() {
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };
</script>

</section>



{% endblock content %}
