{% extends "basetemp/newbase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% for i in check_user %}
	{% if i.privacy_section == 0 %}
	<script>
		window.location.href = "/";
	</script>
	{% endif %}

	{% if i.survey_id != pk %}
	<script>
		window.location.href = "/";
	</script>
	{% endif %}
	{% empty %}
	<script>
		window.location.href = "/";
	</script>
{% endfor %}
<style>
	.fieldsize {
		width: 150%;
	}

	.formdiv {
		margin-top: 20px;
	}

	.dbtn {
		width: 150px;
	}

	span {
		color: red;
	}
	table {
		margin-bottom: 20px;
	}

	#scrollPercentage {
	  position: fixed;
	  top: 60px;
	  right: 0;
	  font-size: 16px;
	  color: #000;
	  background-color: #007BFF;
	  padding: 10px;
	  color: white;
	}
</style>
<h3 class="mt-4">{{title}}</h3>
<div class="container-fluid formdiv">

<div class="alert alert-danger" id="error-message" style="display: none;">
  Please select at least one option for the questions containing checkboxes.
</div>

	<form method="post" onsubmit="return validateForm()">
		{% csrf_token %}
		<div class="form-group">
			<table class="table">
				<tr>
					<td>
						<h6><b class="ovr rounded">Currently used Storage Products and Applications</b></h6>
					</td>
				</tr>
			</table>
			
			<h6>1. <span>*</span>Identify and select any DOTr-issued and Personal-owned Storage you use to store local documents, reports, and other important files necessary to your office.</h6>

			<h6>&nbsp;&nbsp;&nbsp;&nbsp;A. DOTr-issued Storage</h6>
			{% for checkbox in form.dotr_storage %}
			    <div class="checkbox">
			      {% if checkbox.choice_label == 'Others' %}
			        <label style="margin-left: 50px;">
			          &nbsp;&nbsp;&nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			          {{form.dotr_storage_others}}
			        </label>
			        
			      {% else %}
			        <label style="margin-left: 50px;">
			          &nbsp;&nbsp;&nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			      {% endif %}
			    </div>
			{% endfor %}
			</div>

			<div class="form-group">
			<h6>&nbsp;&nbsp;&nbsp;&nbsp;B. Personal-owned Storage</h6>
			{% for checkbox in form.personal_storage %}
			    <div class="checkbox">
			      {% if checkbox.choice_label == 'Others' %}
			        <label style="margin-left: 50px;">
			          &nbsp;&nbsp;&nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			          {{form.personal_storage_others}}
			        </label>
			        
			      {% else %}
			        <label style="margin-left: 50px;">
			          &nbsp;&nbsp;&nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			      {% endif %}
			    </div>
			{% endfor %}
			</div>
		

		<div class="form-group">
			<h6>2. <span>*</span>Select the type of external storage device/s you need in your office.</h6>

			{% for checkbox in form.storage_need %}
			    <div class="checkbox">
			      {% if checkbox.choice_label == 'Others' %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			        {{form.storage_need_others}}
			      {% else %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			      {% endif %}
			    </div>
			{% endfor %}
		</div>

		<div class="form-group">
			<br>
			<h6>3. <span>*</span>Identify and select the DOTr-issued and Personal-owned Online Storage Products you use for collaborative work in your office/division.</h6>

			<h6>&nbsp;&nbsp;&nbsp;&nbsp;A. DOTr-issued Online Storage Products</h6>
			{% for checkbox in form.dotr_online_storage %}
			    <div class="checkbox">
			        <label style="margin-left: 50px;">
			          &nbsp;&nbsp;&nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			    </div>
			{% endfor %}
			</div>

			<div class="form-group">
			<h6>&nbsp;&nbsp;&nbsp;&nbsp;B. Personal-owned Online Storage Products</h6>
			{% for checkbox in form.personal_online_storage %}
			    <div class="checkbox">
			        <label style="margin-left: 50px;">
			          &nbsp;&nbsp;&nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			    </div>
			{% endfor %}
		</div>

		<div class="form-group">
			<h6>4. <span>*</span>Select the type of online storage product/s you need in your office </h6>

			{% for checkbox in form.online_storage_need %}
				<div class="checkbox">
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			    </div>
			{% endfor %}
		</div>

		<div class="form-group">
			<h6>5. <span>*</span>Identify and select the Storage you <b>use</b> to backup your local documents, reports, and other important files necessary to your office.</h6>

			{% for checkbox in form.backup_storage %}
			    <div class="checkbox">
			      {% if checkbox.choice_label == 'Others' %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			        {{form.backup_storage_others}}
			      {% else %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			      {% endif %}
			    </div>
			{% endfor %}

		</div>

		<div class="form-group">
			<h6>6. <span>*</span>Identify and select the Storage you <b>need</b> to backup your local documents, reports, and other important files necessary to your office.</h6>

			{% for checkbox in form.backup_storage_need %}
			    <div class="checkbox">
			      {% if checkbox.choice_label == 'Others' %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			        {{form.backup_storage_need_others}}
			      {% else %}
			        <label style="margin-left: 30px;">
			          &nbsp;&nbsp;{{ checkbox.tag }} {{ checkbox.choice_label }}
			        </label>
			      {% endif %}
			    </div>
			{% endfor %}
			
		</div>

		<div class="container-fluid">
			<h6>7. <span>*</span>Any comments and suggestions on the Storage Products currently in use in your division/office:</h6>
			<div class="container-fluid">
				{{form.storage_comments}}
			</div>
		</div>

		{{form.storage_section}}

		<br>
		<button type="submit" class="btn btn-primary dbtn">Update</button>
		<a href="/survey/" class="btn btn-danger dbtn">Back</a>
		<br>
		<br>
	</form>	
	<div id="scrollPercentage">Page Scroll: 0%&nbsp;&nbsp;&nbsp;</div>
</div>

<script>
	// Get the container element
	var scrollPercentageElement = document.getElementById("scrollPercentage");

	// Add a scroll event listener to the window
	window.addEventListener("scroll", function() {
	  // Calculate the percentage of the webpage scrolled
	  var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	  var scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
	  var scrolledPercentage = (scrollTop / (scrollHeight - window.innerHeight)) * 100;

	  // Update the content of the container element with the calculated percentage
	  scrollPercentageElement.textContent = "Page Scroll: " + Math.round(scrolledPercentage) + "%";

	});
</script>

<script>
  function validateForm() {
    var questionContainers = document.querySelectorAll('.form-group');
    for (var i = 0; i < questionContainers.length; i++) {
      var checkboxes = questionContainers[i].querySelectorAll('input[type=checkbox]');
      var checked = false;
      for (var j = 0; j < checkboxes.length; j++) {
        if (checkboxes[j].checked) {
          checked = true;
          break;
        } 
      }
      if (!checked) {
        document.getElementById('error-message').style.display = 'block';
        window.scrollTo(0, 0);
        return false;
      }
    }
    return true;
  }
</script>

<script>
	function handleCheckboxChange() {
		var othersCDotrStorage = document.querySelector("#id_dotr_storage_{{storage_count}}");
		var otherIDotrStorage = document.querySelector("#id_dotr_storage_others");

		var othersPStorage = document.querySelector("#id_personal_storage_{{storage_count}}");
		var otherIStorage = document.querySelector("#id_personal_storage_others");

		var othersSneed = document.querySelector("#id_storage_need_{{storage_count}}");
		var otherIneed = document.querySelector("#id_storage_need_others");

		var otherBStorage = document.querySelector("#id_backup_storage_{{backup_count}}");
		var otherIBStorage = document.querySelector("#id_backup_storage_others");

		var otherBSNeed = document.querySelector("#id_backup_storage_need_{{backup_count}}");
		var otherIBSNeed = document.querySelector("#id_backup_storage_need_others");

		otherIDotrStorage.disabled = !othersCDotrStorage.checked;
		otherIStorage.disabled = !othersPStorage.checked;
		otherIneed.disabled = !othersSneed.checked;
		otherIBStorage.disabled = !otherBStorage.checked;
		otherIBSNeed.disabled = !otherBSNeed.checked;

		otherIDotrStorage.required = othersCDotrStorage.checked;
		otherIStorage.required = othersPStorage.checked;
		otherIneed.required = othersSneed.checked;
		otherIBStorage.required = otherBStorage.checked;
		otherIBSNeed.required = otherBSNeed.checked;

		otherIDotrStorage.readOnly = !othersCDotrStorage.checked;
		otherIStorage.readOnly = !othersPStorage.checked;
		otherIneed.readOnly = !othersSneed.checked;
		otherIBStorage.readOnly = !otherBStorage.checked;
		otherIBSNeed.readOnly = !otherBSNeed.checked;
	}

	window.addEventListener('load', handleCheckboxChange);
	document.querySelector("#id_dotr_storage_{{storage_count}}").addEventListener('change', handleCheckboxChange);
	document.querySelector("#id_personal_storage_{{storage_count}}").addEventListener('change', handleCheckboxChange);
	document.querySelector("#id_storage_need_{{storage_count}}").addEventListener('change', handleCheckboxChange);
	document.querySelector("#id_backup_storage_{{backup_count}}").addEventListener('change', handleCheckboxChange);
	document.querySelector("#id_backup_storage_need_{{backup_count}}").addEventListener('change', handleCheckboxChange);
</script>
{% endblock content %}

