{% extends "basetemp/newbase.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
</script>
<style>
	form {
		width: 500px;
		height: auto;
		margin-top: 100px;
	}

	.dnotif {
		padding-left: 13px;
	    padding-right: 13px;
	    padding-top: 3px;
	    padding-bottom: 3px;
	}

	.pnotif {
		padding-left: 5px;
	    padding-right: 5px;
	    padding-top: 3px;
	    padding-bottom: 3px;
	}

  table {
    width: 100%;
    table-layout: fixed;
  }
  
  table th:first-child,
  table td:first-child {
    width: 20%; /* Adjust the width for the "Office / Division" column */
  }
  
  table th:not(:first-child),
  table td:not(:first-child) {
    width: 8%; /* Adjust the width for the remaining columns */
  }

.statustbl {
	margin-top: 50px;
}

.sea {
	width: 500px;
}

.det {
	width: 500px;
}
</style>
<section>
	<div class="container-fluid">

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table">
					<tbody>
						<tr>
							<td>
								Bulk Upload Users
							</td>
							<td>
								<input type="file" name="myfile" required>
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" name="submit" value="Upload Users" class="btn btn-info">

							</td>
						</tr>
						<tr>
							<td>
									<a href="/survey/export-excel" class="btn btn-primary">Export Survey to Excel</a>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		<div class="column float-right">
	      <div class="col-lg-4 col-md-4 col-xs-4">
	        <input id="myInput" type="text" placeholder="Search.." class="form-control sea">
	      	<p class="det"><small>Participants: {{ucount}}</small> | <small>Survey Entries: {{scount}}</small> | <small>Done: {{dcount}}</small> | <small>Pending: {{pcount}}</small></p>
	      </div>

        </div>   
        <br>
		<table class="table statustbl">
			<thead class="bg-info">
				<tr>
					<th>Office / Division</th>
					<th>Name</th>
					<th> </th>
					<th>Privacy</th>
					<th>Demographics</th>
					<th>Hardware</th>
					<th>Software</th>
					<th>Storage</th>
					<th>Competencies</th>
					<th>Trainings</th>
					<th>Submitted</th>
				</tr>
			</thead>

			<tbody id = "myTable">
				{% for items in user_status %}
				<tr>
					<td>{{items.office_division_name}}</td>
					<td>{{items.user}}</td>
					<td>
						<a href="/survey/userinfo/{{items.user}}" class="btn btn-warning" target="_blank"><small>View User</small></a>
					</td>
					<td>
						{% if items.privacy_section == 1 %}
						<span style="color: green;">&#x2714;</span>
						{% else %}
						<span style="color: red;">&#10060;</span>
						{% endif %}
					</td>
					<td>
						{% if items.demographics_section == 1 %}
						<span style="color: green;">&#x2714;</span>
						{% else %}
						<span style="color: red;">&#10060;</span>
						{% endif %}
					</td>
					<td>
						{% if items.hardware_section == 1 %}
						<span style="color: green;">&#x2714;</span>
						{% else %}
						<span style="color: red;">&#10060;</span>
						{% endif %}
					</td>
					<td>
						{% if items.software_section == 1 %}
						<span style="color: green;">&#x2714;</span>
						{% else %}
						<span style="color: red;">&#10060;</span>
						{% endif %}
					</td>
					<td>
						{% if items.storage_section == 1 %}
						<span style="color: green;">&#x2714;</span>
						{% else %}
						<span style="color: red;">&#10060;</span>
						{% endif %}
					</td>	
					<td>
						{% if items.competencies_section == 1 %}
						<span style="color: green;">&#x2714;</span>
						{% else %}
						<span style="color: red;">&#10060;</span>
						{% endif %}
					</td>
					<td>
						{% if items.trainings_section == 1 %}
						<span style="color: green;">&#x2714;</span>
						{% else %}
						<span style="color: red;">&#10060;</span>
						{% endif %}
					</td>
					<td>
						{% if items.submitted == 1 %}
						<small class="dnotif bg-success rounded">Done</small>
						{% else %}
						
						<small class="pnotif bg-danger rounded">Pending</small>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</section>
{% endblock content %}