{% extends "basetemp/login_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<style>
.bannerdiv {
	margin-top: 70px;
}
.loginform {
	width: 500px;
	padding-top: 60px;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 60px;
}
.bannerdiv1 {
	margin-top: 127px;
}
.loginbtn, .loginbtn:hover {
	/* background-color: #0d47a1; */
	color: white;
}

.maindiv {
	margin-top: 160px;
}
</style>

	<div class="container-fluid maindiv">
		<center>
		<form method="POST" class = "loginform mt-4">
				<!-- <a href="/">
				<img src="{% static 'basetemp/dotricon.png' %}" width="180" height="180" >
				</a> -->
				
				
					<p style = "font-family:helvetica; color: #4F4F4F"><b>ICT Needs Assessment Survey Login</b></p>

			            {% csrf_token %}

			            <table class="table">
			            	<tr>
			            		<td>
			            			Username: 
			            		</td>
			            		<td>
			            			{{form.username}}
			            		</td>
			            	</tr>

			            	<tr>
			            		<td>
			            			Password: 
			            		</td>
			            		<td>
			            			{{form.password}}
			            		</td>
			            	</tr>
			            </table>
			            
			            <div class = "form-group">
			            	<button class ="btn btn-primary form-control loginbtn" type = "submit">Login</button>
			            </div>
			           
			        </form>

			      </center>
	</div>
		<!-- </div> -->
		
			
{% endblock content %}
