{% extends "basetemp/login_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}


			<!-- here -->
			<center>

				<div class="form-container rounded loginformdiv">
						{% if form.errors %}
							<div class="alert alert-danger" role="alert">
								<strong>Incorrect username or password!</strong>
							</div>
						{% endif %}
					<h3 class="title">ICT Needs Assessment Survey</h3>

					<form class="form-horizontal" method="POST">
						{% csrf_token %}


						<div class="form-icon">
							<img src = "{% static 'basetemp/dotr_logo123.png' %}" class= "img-responsive dl">
						</div>
						<div class="form-group">
							<span class="input-icon"><i class="fa fa-user"></i></span>
							{{form.username}}
						</div>
						<div class="form-group">
							<span class="input-icon"><i class="fa fa-lock"></i></span>
							{{form.password}}
							
						</div>
						<button class="btn btn-primary signin">Login</button>
					</form>
				</div>
			</center>

			
{% endblock content %}
