{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ICT Needs Assessment</title>
    
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'basetemp/dotricon.png' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'basetemp/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <style>
        .dotrlogo1 {
            width: 50px;
            height: 50px;
        }
        body {
          overflow: hidden;
        }
        .loader-wrapper {
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background-color: white;
          display:flex;
          justify-content: center;
          align-items: center;

        }
        .loader {
          display: inline-block;
          width: 30px;
          height: 30px;
          position: relative;
          border: 4px solid #007BFF;
          animation: loader 2s infinite ease;
        }
        .loader-inner {
          vertical-align: top;
          display: inline-block;
          width: 100%;
          background-color: #007BFF;
          animation: loader-inner 2s infinite ease-in;
        }

        @keyframes loader {
          0% { transform: rotate(0deg);}
          25% { transform: rotate(180deg);}
          50% { transform: rotate(180deg);}
          75% { transform: rotate(360deg);}
          100% { transform: rotate(360deg);}
        }

        @keyframes loader-inner {
          0% { height: 0%;}
          25% { height: 0%;}
          50% { height: 100%;}
          75% { height: 100%;}
          100% { height: 0%;}
        }

        .loadlogo {
            width: 100px;
        }

        .list-group-item i, 
        .list-group-item span {
          display: inline-block;
          vertical-align: middle;
          padding-right: 15px;
        }

        .list-group-item i {
          padding-left: 30px;
          padding-right: 30px;
        }

        .list-group-item i {
          font-size: 15px;
          width: 20px;
          height: 20px;

        }

        .done {
          background-color: green;
          color: white;
          padding-left: 12px;
          padding-right: 12px;
          padding-top: 3px;
          padding-bottom: 3px;

        }

        .pen {
          background-color: red;
          color: white;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 3px;
          padding-bottom: 3px;

        }

        .ch {
          font-size: 20px;
          color: green;
        }

        .pending {
          color: red;
        }
       .active {
          background-color: gray !important;
        }

        .active::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 10%;
          height: 100%;
          background-color: #17a2b8;
          opacity: 10;
        }
    </style>
    <body>

        <div class="d-flex justify-content" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper" class="sbar">
                <div class="sidebar-heading border-bottom bg-light"><a href="/"><img class="dotrlogo1" src="{% static 'basetemp/dotr_logo.png' %}" alt="AdminLTELogo" height="160" width="160"></a><br>ICT Needs Assessment</div>
                <div class="list-group list-group-flush">
                    <br>
                    <a class="list-group-item list-group-item-action list-group-item p-3 {% if sec == 1 %}active{% endif %}" href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
                    

                    <button class="list-group-item list-group-item-action list-group-item p-3" type="button" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false" aria-controls="menu-collapse">
                    <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Survey Menu
                    </button>

                    <div class="collapse show" id="menu-collapse">

                      <a class="list-group-item list-group-item-action list-group-item p-3 submenu {% if sec == 2 %}active{% endif %}" href="#" data-toggle="modal" data-target="#demographics"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Demographics<br>
                        {% for items in check_user %}
                            {% if items.demographics_section == 0 %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-check-circle ch" aria-hidden="true"></i>
                            {% endif %}

                            {% empty %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                          {% endfor %}
                      </a>
                      <a class="list-group-item list-group-item-action list-group-item p-3 submenu {% if sec == 3 %}active{% endif %}" href="#" data-toggle="modal" data-target="#hardware"><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;Hardware<br>
                          {% for items in check_user %}
                            {% if items.hardware_section == 0 %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-check-circle ch" aria-hidden="true"></i>
                            {% endif %}

                            {% empty %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                          {% endfor %}
                      </a>
                      <a class="list-group-item list-group-item-action list-group-item p-3 submenu {% if sec == 4 %}active{% endif %}" href="#" data-toggle="modal" data-target="#software"><i class="fa fa-whatsapp" aria-hidden="true"></i>&nbsp;Software<br>
                          {% for items in check_user %}
                            {% if items.software_section == 0 %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-check-circle ch" aria-hidden="true"></i>
                            {% endif %}

                            {% empty %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                          {% endfor %}</a>
                      <a class="list-group-item list-group-item-action list-group-item p-3 submenu {% if sec == 5 %}active{% endif %}" href="#" data-toggle="modal" data-target="#storage"><i class="fa fa-hdd-o" aria-hidden="true"></i>&nbsp;Storage<br>
                          {% for items in check_user %}
                            {% if items.storage_section == 0 %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-check-circle ch" aria-hidden="true"></i>
                            {% endif %}

                            {% empty %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                          {% endfor %}</a>
                      <a class="list-group-item list-group-item-action list-group-item p-3 submenu {% if sec == 6 %}active{% endif %}" href="#" data-toggle="modal" data-target="#competencies"><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp;ICT Competencies<br>
                          {% for items in check_user %}
                            {% if items.competencies_section == 0 %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-check-circle ch" aria-hidden="true"></i>
                            {% endif %}

                            {% empty %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                          {% endfor %}</a>
                      <a class="list-group-item list-group-item-action list-group-item p-3 submenu {% if sec == 7 %}active{% endif %}" href="#" data-toggle="modal" data-target="#trainings"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;ICT Trainings<br>
                          {% for items in check_user %}
                            {% if items.trainings_section == 0 %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                            {% else %}
                              <i class="fa fa-check-circle ch" aria-hidden="true"></i>
                            {% endif %}

                            {% empty %}
                              <i class="fa fa-bookmark pending" aria-hidden="true"></i>
                          {% endfor %}</a>
                    </div>
                    <br>

                    


                    <div class="modal fade" id="lmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        
                          <div class="modal-body">
                           Are you sure you want to logout?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/logout/" class="btn btn-primary">Logout</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
                    <div class="container-fluid">

                        

                        <a class="btn btn-primary" data-widget="pushmenu" id ="sidebarToggle"href="#" role="button"><i class="fa fa-exchange"></i></a>
                        <!-- <button class="btn btn-primary fa-solid fa-square" id="sidebarToggle">---</button> -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" style="color:white;" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.get_full_name}}</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/survey/profile">View Profile</a>
                                        <a class="dropdown-item" href = "#" data-toggle="modal" data-target="#lmodal">Logout</a>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    

                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        <div class="loader-wrapper" id = "lder">
          
            <img src="{% static 'basetemp/dotricon.png' %}" class="img-reponsive loadlogo"> 
            <h6><strong>ICT NEEDS ASSESSMENT</strong>&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            <span class="loader"><span class="loader-inner"></span></span>
          
          
          
        </div>

        <!-- demographics -->
        <div class="modal fade" id="demographics" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Demographics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-justify">Demographics is gathered to allow the MIS to describe, and better analyze the data in order to come up with the best decision/s relevant to the needs of each service and personnel.</p>

                <br>

                {% for items in check_user %}
            {% if items.demographics_section == 0 %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% else %}
              Done <i class="fa fa-check-circle ch" aria-hidden="true"></i>

              <br>

              <p>You have already submitted your answers for this section. Click Proceed to check or edit your answers.</p>
            {% endif %}

            {% empty %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
          {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% for i in check_user %}
                <a href="/survey/demographics/{{i.survey_id}}" class="btn btn-info">Proceed</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>  
        <!-- end of demographics -->

        <!-- hardware -->
        <div class="modal fade" id="hardware" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Currently Installed Hardware Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-justify">Hardware refers to the external and internal devices and equipment that enable you to perform major functions such as input, output, storage, communication, processing, and more.</p>
                <br>

                {% for items in check_user %}
            {% if items.hardware_section == 0 %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% else %}
              Done <i class="fa fa-check-circle ch" aria-hidden="true"></i>

              <br>

              <p>You have already submitted your answers for this section. Click Proceed to check or edit your answers.</p>
            {% endif %}

            {% empty %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% for i in check_user %}
                <a href="/survey/hardware/{{i.survey_id}}" class="btn btn-info">Proceed</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>  
        <!-- end of hardware -->

        <!-- software -->
        <div class="modal fade" id="software" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Currently Installed Software Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-justify">Software is a generic term used to refer to applications, scripts and programs that run on a device used for productivity purposes in the office/division.</p>
                <br>

                {% for items in check_user %}
            {% if items.software_section == 0 %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% else %}
              Done <i class="fa fa-check-circle ch" aria-hidden="true"></i>

              <br>

              <p>You have already submitted your answers for this section. Click Proceed to check or edit your answers.</p>
            {% endif %}

            {% empty %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% for i in check_user %}
              <a href="/survey/software/{{i.survey_id}}" class="btn btn-info">Proceed</a>
            {% endfor %}

              </div>
            </div>
          </div>
        </div>  
        <!-- end of software -->

        <!-- storage -->
        <div class="modal fade" id="storage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Currently Used Storage Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-justify">Storage is a physical device or a virtual product used to store digital data and applications which may be in the form of images, video, audio, etc.</p>

                <br>

                {% for items in check_user %}
            {% if items.storage_section == 0 %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% else %}
              Done <i class="fa fa-check-circle ch" aria-hidden="true"></i>

              <br>

              <p>You have already submitted your answers for this section. Click Proceed to check or edit your answers.</p>
            {% endif %}

            {% empty %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% for i in check_user %}
                <a href="/survey/storage/{{i.survey_id}}" class="btn btn-info">Proceed</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>  
        <!-- end of storage -->

        <!-- competencies -->
        <div class="modal fade" id="competencies" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ICT Competencies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-justify">Competencies refer  to the practical or theoretical understanding of a subject.</p>
                <br>

                {% for items in check_user %}
            {% if items.competencies_section == 0 %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% else %}
              Done <i class="fa fa-check-circle ch" aria-hidden="true"></i>

              <br>

              <p>You have already submitted your answers for this section. Click Proceed to check or edit your answers.</p>
            {% endif %}

            {% empty %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% for i in check_user %}
              <a href="/survey/competencies/{{i.survey_id}}" class="btn btn-info">Proceed</a>
            {% endfor %}
              </div>
            </div>
          </div>
        </div>  
        <!-- end of competencies -->

        <!-- trainings -->
        <div class="modal fade" id="trainings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ICT Training Programs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-justify">Training is a planned sequence and combination of activities designed to equip employees with knowledge and skills to become better professionals.</p>
                <br>

                {% for items in check_user %}
            {% if items.trainings_section == 0 %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% else %}
              Done <i class="fa fa-check-circle ch" aria-hidden="true"></i>

              <br>

              <p>You have already submitted your answers for this section. Click Proceed to check or edit your answers.</p>
            {% endif %}

            {% empty %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% for i in check_user %}
              <a href="/survey/ict_trainings/{{i.survey_id}}" class="btn btn-info">Proceed</a>
            {% endfor %}

              </div>
            </div>
          </div>
        </div>  
        <!-- end of trainings -->

        <!-- privacy -->
        <div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Data Privacy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-justify">This document is designed to facilitate collection of information necessary for understanding the IT infrastructure in various offices in the Department of Transportation (DOTr). The data will be used for documentation and as a basis in the decision-making process. Your information will only be disclosed to authorized parties inside the organization and will not be disclosed to any third party organization without your permission.</p>

                {% for items in check_user %}
            {% if items.privacy_section == 0 %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% else %}
              Done <i class="fa fa-check-circle ch" aria-hidden="true"></i>

              <br>

              <p>You have already agreed to the Terms and Conditions of the this system to gather informattion and use them for the ICT Needs Assessment.</p>
            {% endif %}

            {% empty %}
              Pending <i class="fa fa-bookmark pending" aria-hidden="true"></i>
            {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        \</div>  
        <!-- end of privacy -->

        

        <script>

            function removeOverflowHidden() {
              document.body.style.overflow = 'auto';
            }
        // Add window.onload event listener
            window.onload = function() {
                // Get the loader element
                const loader = document.getElementById('lder');

                // Set loader element to display none
                    setTimeout(() => {
                    loader.style.display = 'none';
                    setTimeout(removeOverflowHidden, 100);
                }, 2000);


            };
        </script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'basetemp/js/scripts.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </body>
</html>
